<h1>Add a New Location</h1>

<form action="/location" method="POST">
  <input type="text" name="country" placeholder="country" required>
  <input type="text" name="country_key" placeholder="country_key" required>
  <input type="text" name="state" placeholder="state" required>
  <input type="text" name="state_key" placeholder="state_key" required>
  <input type="text" name="institution" placeholder="institution" required>
  <input type="text" name="institution_key" placeholder="institution_key" required>
  <input type="text" name="building" placeholder="building" required>
  <input type="text" name="building_key" placeholder="building_key" required>
  <input type="text" name="floor" placeholder="floor" required>
  <input type="text" name="floor_key" placeholder="floor_key" required>
  <input type="text" name="room" placeholder="room" required>
  <input type="text" name="room_key" placeholder="room_key" required>
  <button>Upload</button>
</form>
<a href="/">Go Back</a>
