<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body style="width: 100%;">
<h1>Upload a New Location</h1>
<form id="form" action="/location" method="POST" enctype="multipart/form-data">
  <input  type="text" name="country[name]" placeholder="country" required>
  <input  type="text" name="country[key]" placeholder="country key" required>
  <input style="display: none" type="text" class="two three four"name="state[name]" placeholder="state" required>
  <input style="display: none" type="text" class="two three four" name="state[key]" placeholder="state key" required>
  <input style="display: none" type="text" class="three four" name="institution[name]" placeholder="institution" required>
  <input style="display: none" type="text" class="three four" name="institution[key]" placeholder="institution key" required>
  <input style="display: none" type="text" class="four" name="building[name]" placeholder="building" required>
  <input style="display: none" type="file" class="four" id="image" name="image" accept="image/*">
  <select id="levelList" name="level">
    <option value="1">country</option>
    <option value="2">state</option>
    <option value="3">institution</option>
    <option value="4">building</option>
  </select>
  <button>Upload</button>
</form>

<h1>Insert Utility for UW-Madison</h1>
<form action="/utility" method="POST" enctype="multipart/form-data">
  Building:<br>
  <select name="key">
    <%bds.forEach((bd)=>{%>
    <option value="<%=bd.key%>"><%=bd.name%></option>
  <%})%>
  </select>
  <br><br>
  Utility Type:<br>
  <select name="utility[type]">
    <option value="Microwave">Microwave</option>
    <option value="Printer">Printer</option>
  </select>
  <br><br>Image:<br>
  <input type="file" class="four" id="image" name="image" accept="image/*">
  <br><br>
  Description:<br>
  <textarea name="utility[description]"></textarea>
  <br>
  <button>Upload</button>
</form>
<a href="/">Go Back</a>
<script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
<script type="text/javascript">
  $("#levelList").change(function(e){
    let level = parseInt($(this).val())
    switch(level){
      case 1:
        $(".three").css("display","none")
        $(".four").css("display","none")
        $(".two").css("display","none")      
      break
      case 2:
        $(".three").css("display","none")
        $(".four").css("display","none")
        $(".two").css("display","block")
      break;
      case 3:
        $(".four").css("display","none")   
        $(".three").css("display","block")
      break;
      case 4:
        $(".four").css("display","block")
      break;
    }
  })
</script>
</body>
</html>

