<h1>Add a New Location</h1>

<form action="/location" method="POST">
  <input type="text" name="country[name]" placeholder="country" required>
  <input type="text" name="country[key]" placeholder="country key" required>
  <input type="text" name="state[name]" placeholder="state" required>
  <input type="text" name="state[key]" placeholder="state key" required>
  <input type="text" name="institution[name]" placeholder="institution" required>
  <input type="text" name="institution[key]" placeholder="institution key" required>
  <input type="text" name="building[name]" placeholder="building" required>
   <input type="number" name="level"
           placeholder="level" step="1" />
  <button>Upload</button>
</form>
<a href="/">Go Back</a>
