<html>
<head>
<title>login</title>
</head>
<div class="ui main text container">
<div class="ui huge header">Login</div>
<form class="ui form" action="/login" method="POST">
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" placeholder="Username">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>
  <button class="ui button center" type="submit">Submit</button>
</form>
</div>
</body>
</html>
